@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #73B2D9, #1C2E59);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #101a329b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #284A21;
    text-align: center;
    text-shadow: 1px 1px 2px #1a3116b4;
}

h2 {
    color: #6F171C;
}

p {
    text-align: justify;
}